.card {
  margin: 10px;
  box-shadow: 5px 5px 5px #a3a8d3;
  border: 2px solid #01e9ff;
  border-radius: 10px;
  min-width: 200px;
  max-width: 250px;
  max-height: 350px;
}

.not-selected {
  background-color: #3f2ad3;
}

.selected {
  background-color: #fff;
}

.card-title {
  justify-content: center;
  align-items: center;
  display: flex;
  border-bottom: 2px solid #01e9ff;
  height: 20%;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: #01e9ff;
}

.card-img-container {
  justify-content: center;
  display: flex;
  padding: 20px;
  height: 80%;
}

.card-img img {
  max-width: 100%;
  max-height: 100%;
}
